In [52]:
import pandas as pd
import numpy as np
import datetime as dt
import os

In [95]:
def process_stats(df): 
    df = df.drop(['pos', 'comment'],  axis = 1)
    df = df[df['min'] != '0:00']
    df = df.dropna()
    
    df['min'] = df['min'].str.split(':')
    df['min'] = df['min'].apply(lambda x: dt.timedelta(minutes = int(x[0]), seconds = int(x[1])))
    df['min'] = df['min'].dt.total_seconds()/60
    
    return df

In [ ]:
df_sa

In [90]:
df_sample = pd.read_csv('stats/2021/121.csv')
df_sample = df_sample.drop(['pos', 'comment'],  axis = 1)
df_sample = df_sample[df_sample['min'] != '0:00']
df_sample.head()

,points,min,fgm,fga,fgp,ftm,fta,ftp,tpm,tpa,tpp,offReb,defReb,totReb,assists,pFouls,steals,turnovers,blocks,plusMinus
1,13.0,22:09,4.0,9.0,44.4,1.0,1.0,100.0,4.0,7.0,57.1,1.0,8.0,9.0,1.0,2.0,1.0,1.0,0.0,16.0
2,5.0,25:28,2.0,8.0,25.0,0.0,0.0,0.0,1.0,5.0,20.0,0.0,4.0,4.0,2.0,0.0,1.0,2.0,0.0,4.0
3,5.0,13:50,2.0,6.0,33.3,0.0,0.0,0.0,1.0,5.0,20.0,0.0,3.0,3.0,1.0,2.0,0.0,1.0,0.0,14.0
4,2.0,24:06,0.0,5.0,0.0,2.0,2.0,100.0,0.0,5.0,0.0,0.0,8.0,8.0,2.0,1.0,1.0,1.0,0.0,-7.0
5,13.0,34:52,5.0,10.0,50.0,2.0,3.0,66.7,1.0,6.0,16.7,1.0,5.0,6.0,0.0,4.0,0.0,0.0,0.0,1.0

In [91]:
df_sample.dropna(inplace=True)

In [92]:
df_sample['min'] = df_sample['min'].str.split(':')
df_sample['min'] = df_sample['min'].apply(lambda x: dt.timedelta(minutes = int(x[0]), seconds = int(x[1])))
df_sample['min'] = df_sample['min'].dt.total_seconds()/60

In [93]:
df_sample

,points,min,fgm,fga,fgp,ftm,fta,ftp,tpm,tpa,tpp,offReb,defReb,totReb,assists,pFouls,steals,turnovers,blocks,plusMinus
1,13.0,22.150000,4.0,9.0,44.4,1.0,1.0,100.0,4.0,7.0,57.1,1.0,8.0,9.0,1.0,2.0,1.0,1.0,0.0,16.0
2,5.0,25.466667,2.0,8.0,25.0,0.0,0.0,0.0,1.0,5.0,20.0,0.0,4.0,4.0,2.0,0.0,1.0,2.0,0.0,4.0
3,5.0,13.833333,2.0,6.0,33.3,0.0,0.0,0.0,1.0,5.0,20.0,0.0,3.0,3.0,1.0,2.0,0.0,1.0,0.0,14.0
4,2.0,24.100000,0.0,5.0,0.0,2.0,2.0,100.0,0.0,5.0,0.0,0.0,8.0,8.0,2.0,1.0,1.0,1.0,0.0,-7.0
5,13.0,34.866667,5.0,10.0,50.0,2.0,3.0,66.7,1.0,6.0,16.7,1.0,5.0,6.0,0.0,4.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,19.0,35.533333,7.0,12.0,58.3,0.0,0.0,0.0,5.0,8.0,62.5,0.0,7.0,7.0,5.0,1.0,2.0,2.0,0.0,-5.0
89,15.0,35.750000,6.0,13.0,46.2,1.0,2.0,50.0,2.0,7.0,28.6,1.0,5.0,6.0,1.0,4.0,1.0,4.0,1.0,-16.0
90,3.0,26.516667,1.0,6.0,16.7,0.0,0.0,0.0,1.0,5.0,20.0,1.0,4.0,5.0,2.0,6.0,0.0,0.0,0.0,1.0
91,9.0,28.600000,2.0,4.0,50.0,4.0,4.0,100.0,1.0,1.0,100.0,0.0,2.0,2.0,2.0,5.0,0.0,1.0,0.0,-7.0
92,5.0,27.166667,2.0,9.0,22.2,0.0,0.0,0.0,1.0,6.0,16.7,0.0,4.0,4.0,0.0,0.0,1.0,2.0,0.0,-37.0

In [77]:
df_sample

,points,min,fgm,fga,fgp,ftm,fta,ftp,tpm,tpa,tpp,offReb,defReb,totReb,assists,pFouls,steals,turnovers,blocks,plusMinus
1,13.0,0 days 00:22:00,4.0,9.0,44.4,1.0,1.0,100.0,4.0,7.0,57.1,1.0,8.0,9.0,1.0,2.0,1.0,1.0,0.0,16.0
2,5.0,0 days 00:25:00,2.0,8.0,25.0,0.0,0.0,0.0,1.0,5.0,20.0,0.0,4.0,4.0,2.0,0.0,1.0,2.0,0.0,4.0
3,5.0,0 days 00:13:00,2.0,6.0,33.3,0.0,0.0,0.0,1.0,5.0,20.0,0.0,3.0,3.0,1.0,2.0,0.0,1.0,0.0,14.0
4,2.0,0 days 00:24:00,0.0,5.0,0.0,2.0,2.0,100.0,0.0,5.0,0.0,0.0,8.0,8.0,2.0,1.0,1.0,1.0,0.0,-7.0
5,13.0,0 days 00:34:00,5.0,10.0,50.0,2.0,3.0,66.7,1.0,6.0,16.7,1.0,5.0,6.0,0.0,4.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,19.0,0 days 00:35:00,7.0,12.0,58.3,0.0,0.0,0.0,5.0,8.0,62.5,0.0,7.0,7.0,5.0,1.0,2.0,2.0,0.0,-5.0
89,15.0,0 days 00:35:00,6.0,13.0,46.2,1.0,2.0,50.0,2.0,7.0,28.6,1.0,5.0,6.0,1.0,4.0,1.0,4.0,1.0,-16.0
90,3.0,0 days 00:26:00,1.0,6.0,16.7,0.0,0.0,0.0,1.0,5.0,20.0,1.0,4.0,5.0,2.0,6.0,0.0,0.0,0.0,1.0
91,9.0,0 days 00:28:00,2.0,4.0,50.0,4.0,4.0,100.0,1.0,1.0,100.0,0.0,2.0,2.0,2.0,5.0,0.0,1.0,0.0,-7.0
92,5.0,0 days 00:27:00,2.0,9.0,22.2,0.0,0.0,0.0,1.0,6.0,16.7,0.0,4.0,4.0,0.0,0.0,1.0,2.0,0.0,-37.0

In [33]:
df_sample['min'].values[0].split(':')

['22', '09']

AttributeError: 'float' object has no attribute 'split'

In [18]:
df

NameError: name 'df' is not defined

,points,min,fgm,fga,fgp,ftm,fta,ftp,tpm,tpa,...,offReb,defReb,totReb,assists,pFouls,steals,turnovers,blocks,plusMinus,comment
0,0.0,0:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
1,13.0,22:09,4.0,9.0,44.4,1.0,1.0,100.0,4.0,7.0,...,1.0,8.0,9.0,1.0,2.0,1.0,1.0,0.0,16.0,NaN
2,5.0,25:28,2.0,8.0,25.0,0.0,0.0,0.0,1.0,5.0,...,0.0,4.0,4.0,2.0,0.0,1.0,2.0,0.0,4.0,NaN
3,5.0,13:50,2.0,6.0,33.3,0.0,0.0,0.0,1.0,5.0,...,0.0,3.0,3.0,1.0,2.0,0.0,1.0,0.0,14.0,NaN
4,2.0,24:06,0.0,5.0,0.0,2.0,2.0,100.0,0.0,5.0,...,0.0,8.0,8.0,2.0,1.0,1.0,1.0,0.0,-7.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,19.0,35:32,7.0,12.0,58.3,0.0,0.0,0.0,5.0,8.0,...,0.0,7.0,7.0,5.0,1.0,2.0,2.0,0.0,-5.0,NaN
89,15.0,35:45,6.0,13.0,46.2,1.0,2.0,50.0,2.0,7.0,...,1.0,5.0,6.0,1.0,4.0,1.0,4.0,1.0,-16.0,NaN
90,3.0,26:31,1.0,6.0,16.7,0.0,0.0,0.0,1.0,5.0,...,1.0,4.0,5.0,2.0,6.0,0.0,0.0,0.0,1.0,NaN
91,9.0,28:36,2.0,4.0,50.0,4.0,4.0,100.0,1.0,1.0,...,0.0,2.0,2.0,2.0,5.0,0.0,1.0,0.0,-7.0,NaN
92,5.0,27:10,2.0,9.0,22.2,0.0,0.0,0.0,1.0,6.0,...,0.0,4.0,4.0,0.0,0.0,1.0,2.0,0.0,-37.0,NaN